<?xml version="1.0" encoding="UTF-8"?>
<module>
    <fullnamespace>Redir301\Redir301</fullnamespace>
    <descriptive locale="en_US">
        <title>Manage URL redirection</title>
    </descriptive>
    <descriptive locale="fr_FR">
        <title>Redirections d'URL</title>
    </descriptive>
    <version>1.0</version>
    <author>
        <name>Alexandre Nozière</name>
        <email>dev.alexandre.noziere@gmail.com</email>
    </author>
    <type>classic</type>
    <thelia>2.0.0</thelia>
    <stability>other</stability>
</module>
